
.login-form {
    background-color: rgb(255, 255, 255,0.3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-control {
    margin-bottom: 10px;
}
.form-control label {
    display: block;
    margin-bottom: 5px;
}
.form-control input {
    width: 100%;
    padding: 8px;
    border: 1px solid #00000023;
    border-radius: 4px;
}
.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.rojo {
    background-color: red;
}

